<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://soaservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>soaservice.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SoaService</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SoaService</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="mydatabseConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=mydatabaseserver.database.windows.net;Persist Security Info=True;User ID=mydatabaseadmin;Password=Bhoomi@0104" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=mydatabaseserver.database.windows.net;Initial Catalog=mydatabse;User ID=mydatabaseadmin;Password=Bhoomi@0104;Connect Timeout=60" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\mydatabseConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=mydatabaseserver.database.windows.net;Initial Catalog=mydatabse;User ID=mydatabaseadmin;Password=Bhoomi@0104;Connect Timeout=60" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)mydatabseConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=mydatabaseserver.database.windows.net;Persist Security Info=True;User ID=mydatabaseadmin;Password=Bhoomi@0104</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>